<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My daughters</title>
    <link rel="stylesheet" th:href="@{/common-style.css}"/>
</head>
<body>
<div>
    <h1>List of photos</h1>
</div>
<table id="photos">
    <thead>
    <tr>
        <th style="text-align: center">Title of the photo</th>
        <th style="text-align: center">Photo</th>
    </tr>
    </thead>
    <tbody th:each="user : ${users}">
    <tr>
        <input type="hidden" th:value="${user.getId()}">
        <td style="text-align: center" th:text="${user.getName()}"></td>

    </tr>
    </tbody>
</table>
<a th:href="@{'/showphotos/user/create'}">
    <input type="submit" value="Add new user"/>
</a><br>

</body>
</html>